/*
 * @Description: 历史告警
 * @Author: yangsen
 * @Date: 2022-11-04 15:13:44
 * @LastEditors: yangsen
 * @LastEditTime: 2022-11-18 14:04:49
 */
.el-table tbody tr:hover > td {
  background: #87c0ca !important;
}
/* 历史告警处置popover */
.handleWarn {
  background-image: url("/image/mapbg_proprety_layer.png") !important;
  background-size: 100% 100% !important;
  background-color: transparent !important;
  height: 225px;
  box-shadow: none !important;
}
.handleWarn .el-popover__title {
  color: #97d0f6;
  font-size: 16px;
  line-height: 5px;
}
.handleWarn .el-form {
  width: 102%;
  height: 93%;
  background-color: #18376e;
  margin-left: 50%;
  transform: translateX(-50%);
}
.handleWarn .el-form .el-form-item {
  padding-left: 5%;
}
.handleWarn .el-form .el-form-item:first-of-type {
  transform: translateY(10%);
}

.handleWarn .el-popper__arrow::before {
  display: none;
}
.handleWarn .el-form .el-form-item__label {
  color: #97d0f6;
}
.handleWarn .el-form .el-textarea__inner {
  color: #97d0f6;
  background-color: #133564;
}

/* 历史告警信息popover */
.handleInfo {
  height: 225px;
  background-image: url("/image/mapbg_proprety_layer.png") !important;
  background-size: 100% 100% !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.handleInfo .el-popover__title {
  color: #97d0f6;
  font-size: 16px;
  line-height: 5px;
}
.handleInfo .info {
  background-color: #18376e;
  margin-top: 6%;
  padding: 40px 40px;
  color: #97d0f6;
  width: 68%;
  height: 52%;
  margin-left: 50%;
  transform: translateX(-50%);
}
